In [1]:
dict
true caller
google search enginee
shopping website
adhaar website

6

In [5]:
dict1={9999999:"anvi",
       8888888:"sa",
       6666666:"da",
      3333333:"ann"}
name=int(input())
if name in dict1:
    print(dict1[name])
else:
    print("user not found")

 666

da

In [7]:
num=10
if None:#(0,-1,None) a;so works
    print("number is positive")
print("number alwalys prints")

number alwalys prints

In [11]:
#nested loop
num=10
if num>10 and num<20:
    print("number is postive")
elif (num>=10 and 20>num):
    print("2nd division")
else:
    print("fail")

2nd division

In [14]:
num=11
if num>10 and num<20:
    print("number is postive")
    if num >15:
        print("number is higher")
    else:
        print("2nd division")
else:
    print("fail")

number is postive
2nd division

In [15]:
#in range it stop before the last element.(start,stop,step)

SyntaxError: invalid syntax (3091523952.py, line 1)

In [17]:
#range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [19]:
l=[10,20,30,40]
for data in l:
    print(data)
else:
    print("no data available")

10
20
30
40
no data available

In [20]:
l=[1,2,3,4]
for data in l:
    if data%2==0:
        print("DATA RUNNING")
    else:
        print(data)
else:
    print("no data available")

DATA RUNNING
DATA RUNNING
DATA RUNNING
DATA RUNNING
no data available

In [26]:
num=7
for i in range(2,num//2):
    if num%i==0:
        print("not a prime")
        break
else:
    print("prime")

prime

In [4]:
num=7
for i in range(2,int(num**.5)):
    if num%i==0:
        print("not a prime")
        break
else:
    print("prime")

prime

In [31]:
range1=10
range2=21
for num in range(range1,range2+1):
    for i in range(2,int(num**.5)):
        if num%i==0:
            print(num,"not a prime")
            break
    else:
        print(num,"prime")

10 not a prime
11 prime
12 not a prime
13 prime
14 not a prime
15 prime
16 not a prime
17 prime
18 not a prime
19 prime
20 not a prime
21 not a prime

In [5]:
#None=> dont allow to get in loop wheater it is true or false
#continue => continue statement only allow false condition
#break => it comes out from loop ,once condition is true else it will execute in loop

In [10]:
x=[1,2,3,4,5]
for num in x:
    if num%2==0:
        continue
    print(num)
else:
    print("list over")

1
3
5
list over

In [14]:
#linear search (break example)
list1=[1,2,3,4,5,6]
search=3
for i in range(len(list1)):
    if list1[i]==search:
        print(i)
        break
else:
    print("not found")

2

In [17]:
#printing till a negative number come
list1=[23,2,43,-1,39,101,111]
for i in list1:
    if i>0:
        print(i,end=" ")
    else:
        break

23 2 43

In [21]:
#append and extend
list1=["one","two","three"]
list2=[1,2,3]
list1.append(list2)#append as a new list in the older
print(list1)
list2.extend(list2)# here it adds the elements in to the new
print(list2)

['one', 'two', 'three', [1, 2, 3]]
[1, 2, 3, 1, 2, 3]

In [23]:
list1=[1,2,3,4,5]
list2=[]
list2=list1
list2.append(4)
list1.append(3)
print(list1)
print(list2)
print(id(list1))
print(id(list2))

[1, 2, 3, 4, 5, 4, 3]
[1, 2, 3, 4, 5, 4, 3]
2702428161856
2702428161856

In [29]:
#split creates the list
stringg="hi, there,learning ,python"
lis=stringg.split(",")
print(lis)
print(lis[-1])

['hi', ' there', 'learning ', 'python']
python

In [31]:
list1=[1,2,3,4,5]
list2=[6,7,8,9]
lis=list1+list2
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
lis=[1,2,1,2,1,3,4,1,3]
print(lis.count(1))

4

In [34]:
#list comprehension
power=[i**2 for i in range(10)]
print(power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
matrix=[[1,2,3,4],[6,7,3,4],[7,8,9,3]]
transpose=[for i in row

IndexError: list index out of range

In [37]:
#assignment  
#with function and wihtout function do the matrix transpose

In [40]:
#tuple
#example kyc
#kyc=("anvin",8921528762,("kodakara","thrissur"))
lis=(1,(92,3,4),["hi",9,8])
print(type(lis))
print(lis)
print(lis[1])
print(lis[-1][1])

<class 'tuple'>
(1, (92, 3, 4), ['hi', 9, 8])
(92, 3, 4)
9

In [43]:
#add a coma when ading single elementn
lst=('hi',)
type(lst)

tuple

In [46]:
#changing the list inside the tuple
lis=(1,(92,3,4),["hi",9,8])
print(type(lis))
lis[-1][1]="hhh"
print(lis)

<class 'tuple'>
(1, (92, 3, 4), ['hi', 'hhh', 8])

In [47]:
#string is also imputable
lst='prwatech'
lst[6]='J'#cannot change

TypeError: 'str' object does not support item assignment

In [48]:
lst=('prwatech',)*5
print(lst)

('prwatech', 'prwatech', 'prwatech', 'prwatech', 'prwatech')

In [52]:
#deletion of tuple
lis=(1,(92,3,4),["hi",9,8])
del lis
#cannot delete by each element

In [61]:
lst=(1,2,3,1,8,3,9,0,3,2,3)
print(lst.index(0))
lst.count(3)

7

4

In [64]:
lst=(9,1,2,1,4,1,8,4)
lst=sorted(lst)
print(lst)
rev=sorted(lst,reverse=True)
print(rev)

[1, 1, 1, 2, 4, 4, 8, 9]
[9, 8, 4, 4, 2, 1, 1, 1]

In [65]:
lst=(9,1,2,1,4,1,8,4)
print(max(lst))
print(min(lst))

9
1

In [66]:
import math as lst
lst.factorial(4)

24

In [69]:
import statistics as lst
lst.mean((1,2,4,5))

3

In [70]:
#sets
#its immutable we can add & remove data. speacially used for mathmetical sets of operations

In [75]:
#useing slicing to copy a list
a=[1,2,3]
b=[]
b=a[::]
print(id(a))
print(id(b))

2702429933056
2702429925568

In [78]:
#useing copy to copy a list
a=[1,2,3]
b=[]
b=a.copy()
print(id(a))
print(id(b))
print(b)

2702429626304
2702429924288
[1, 2, 3]

In [85]:
lst=set([1,2,3,4,3])
lst.add(5)
lst.update([7,8,4])
print(lst)

{1, 2, 3, 4, 5, 7, 8}

In [88]:
lst={1,2,3,5}
#lst.remove(8)
lst.discard(9)
print(lst)

{1, 2, 3, 5}

In [91]:
#pop up
lst={1,2,3,4,5,6}
a=lst.pop()
b=lst.pop()
print(a)
print(b)
print(lst)

1
2
{3, 4, 5, 6}

In [92]:
#assignment
#how to resign the data which temporaryily deleted using pop up

In [93]:
lsy={1,2,3,4,5}
lsy.clear()
print(lsy)

set()

In [94]:
ls1={1,2,3,4,5,6,9}
ls2={6,7,8,9,0}
print(ls1-ls2)
print(ls1.difference(ls2))
print(ls1 |ls2)
print(ls1.union(ls2))
print(ls1 & ls2)
print( ls1.intersection(ls2))
print(ls1^ls2)
print(ls1.symmetric_difference(ls2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{9, 6}
{9, 6}
{0, 1, 2, 3, 4, 5, 7, 8}
{0, 1, 2, 3, 4, 5, 7, 8}

In [96]:
ls1={1,2,3,4}
ls2={3,2}
print(ls2.issubset(ls1))

True

In [98]:
#cannot add value and also not support indexing
ls1=frozenset([0,1,2,3,4])
ls2=frozenset([0,1,2,7,8])
print(ls2)

frozenset({0, 1, 2, 7, 8})

In [1]:
#dictionary

In [3]:
mydict={}
print(type(mydict))

<class 'dict'>

In [7]:
#use get to avoid error
mydict={1:"raju",2:"raman"}
mydict[1]="raji"
mydict[6]="ravi
print(mydict[1])
print(mydict.get(2))
print(mydict.get(3))
print(mydict.get(4,"no value"))

raji
raman
None
no value

In [10]:
#pop vs popitem
mydict={1:"raju",
        2:"raman",
        3:"ravi"}
print(mydict.pop(3))#delete by index 
print(mydict.popitem())# delete the last element LIFO
print(mydict)

ravi
(2, 'raman')
{1: 'raju'}

In [11]:
#popitem also tempory deletio we can check it by asigning values to that statement and printing them

In [14]:
squ={2:4,3:9,4:16,5:25}
del squ[4]
print(squ)

{2: 4, 3: 9, 5: 25}

In [16]:
squ={2:4,3:9,4:16,5:25}
del squ
#print(squ)

In [17]:
squ={1:"rajeev",
     2:"jayan",
     3:"kevin"}
squ1=squ.copy()
print(squ1)

{1: 'rajeev', 2: 'jayan', 3: 'kevin'}

In [26]:
sub=dict.fromkeys(['math','english','hindi'],'0')
print(sub)
print(sub.items())
print(sub.keys())
print(sub.values())

{'math': '0', 'english': '0', 'hindi': '0'}
dict_items([('math', '0'), ('english', '0'), ('hindi', '0')])
dict_keys(['math', 'english', 'hindi'])
dict_values(['0', '0', '0'])

In [25]:
lid={}
print(dir(lid)) #it will gave the details of all operation

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [27]:
lid=[]
print(dir(lid))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [28]:
squ={2:4,3:9,4:16,5:25}
d_squ={k:v for k,v in squ.items() if v>4}
print(d_squ)

{3: 9, 4: 16, 5: 25}

In [30]:
squ={2:4,3:9,4:16,5:25}
d={k+2:v+3 for k,v in squ.items() if v>4}
print(d)

{5: 12, 6: 19, 7: 28}